@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  background-image: url("./favicon/wp1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.app {
  background-color: lightgray;
  width: 25%;
  border-radius: 5px;
  opacity: 0.8;
  padding: 30px;
  box-shadow: 5px 12px 20px 0px black;
}
.title {
  color: rgb(196, 129, 4);
}
#searchInput {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid gray;
  outline: none;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.cityName {
  font-size: 40px;
}
.degree {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 60px;
}
.desc {
  font-size: 25px;
}
